body {
    margin: 0;
    padding: 0;
    border: none;
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */     
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    
    user-select: none; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(32, 32, 32);
}

#fundo {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: content-box;
    text-align: center;
    overflow: hidden;
    background-color: rgb(16, 16, 16);
}

#painel {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.15;
    z-index: 10;
}

#painel > button{
    height: 30%;
    width: 30%;
    border-radius: 10%;
    font-weight: 600;
}

#painel > div {
    display: flex;
    height: 30%;
    width: 90%;
}

#painel > div > button {
    height: 100%;
    width: 33.33333333%;
    border-radius: 10%;
    font-weight: 600;
}

@media (orientation: landscape){
    main {
        justify-content: center;
    }
}

@media (orientation: portrait){
    main {
        justify-content: start;
    }
}

.p1, .enmy, .shot, .spreadShot, .alerta, .shadow, .graph, .bomb, .weapon, .bigText, .bigText2, .botaoJogo, .orb {
    position:absolute;
}

.p1 {
    background-color: rgb(0, 255, 255);
    z-index: 2;
}

.enmy {
    background-color: rgb(178, 34, 34);
    z-index: 1;
}

/* Tiros */
.shot {
    background-color: coral;
    box-shadow: 0px 0px 10px rgb(255, 130, 85);
    z-index: 3;
}

.spreadShot {
    background-color: rgb(226, 120, 102);
    box-shadow: 0px 0px 10px rgb(235, 112, 91);
    z-index: 3;
}
/**/

/* Bombas */
.bomb {
    background-color: rgb(96, 96, 96);
    z-index: 3;
}

.pulsing {
    animation: pulse 0.5s linear 0s infinite forwards;
}

@keyframes pulse {
    0% {
        background-color: rgb(96, 96, 96);
    }

    50% {
        background-color: rgb(122, 18, 0);
        transform: scale(1.1);
    }

    100% {
        background-color: rgb(96, 96, 96);
    }
}
/**/

/* Clone */
.shadow {
    background-color: rgba(178, 34, 34);
    z-index: 4;
}
/**/

.alerta {
    background-color: rgb(178, 34, 34);
    z-index: 3;
}

.flash {
    animation: flash 0.5s linear 0s infinite;
}

@keyframes flash {
    0% {opacity: 0.05;}
    50% {opacity: 0.15;}
    100% {opacity: 0.05;}
}

.weapon {
    background-color: rgb(255, 133, 133);
    z-index: 3;
}

.defeated {
    animation: dead 0.3s ease-in-out 0s 1 forwards;
}

.defeated1 {
    animation: dead1 0.3s ease-in-out 0s 1 forwards;
}

@keyframes dead {
    0% {
    }

    20% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes dead1 {
    0% {
    }

    20% {
        transform: scale(1.5);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.bigText {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 128, 128);
    z-index: 5;
}


.stats {
    position: absolute;
    text-align: start;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 128, 128);
    z-index: 5;
}

.bigText2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(121, 128, 128, 0.75);
    z-index: 5;
}

.botaoJogo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(214, 193, 223, 0.75);
    z-index: 5;
    transition: 0.2s linear;
}

.botaoJogo:hover {
    transform: scale(1.05);
    background-color: rgb(214, 193, 223, 0.7);
}

.orb {
    background-color: rgb(240, 255, 255, 0.5);
    box-shadow: 0px 0px 10px rgb(240, 255, 255, 0.5);
    z-index: 0;
}
